@import url('https://fonts.googleapis.com/css2?family=Funnel+Display:wght@300..800&family=Geist+Mono:wght@100..900&family=Host+Grotesk:ital,wght@0,300..800;1,300..800&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Oswald:wght@200..700&family=Pacifico&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Rajdhani:wght@300;400;500;600;700&family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap');
/* body {

    overflow-y: scroll;
} */

.ql-editor img {
    width: 300px;
    max-width: 300px;
    height: auto;
    display: block;
}

.writeblogcontainer {
    display: flex;
    flex-direction: row;
    padding: 60px 0;
    position: relative;
    font-family: 'Poppins';
}

.wb-backButton {
    border: solid 1px #525151;
    position: absolute;
    top: 15px;
    left: 15px;
    padding: 7px 15px;
    border-radius: 5px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-size: .9rem;
    color: white;
    background-color: #f30303;
    border: none;
    outline: none;
    cursor: pointer;
    transition: 600ms;
}

.wb-backButton:hover {
    background-color: #990303;
    transform: scale(1.02, 1.02);
    transition: 600ms;
}

#wb-backarrow {
    width: 15px;
    transform: rotate(-90deg);
    margin-right: 7px;
    fill: white;
}

.createblogh2 {
    font-size: 1.5rem;
    margin: 10px;
    font-family: 'Poppins';
    font-weight: 400;
}

.writeblogleftside {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* border: solid red; */
    width: 76%;
    height: 100%;
    margin-bottom: 400px;
}

.writeblogrightside {
    padding: 10px 0;
    position: fixed;
    top: 0;
    right: 0;
    width: 24%;
    height: 100%;
    background-color: #284969;
    /* border: solid; */
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: auto;
    scrollbar-width: none;
}

.wb-buttonsdiv {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 95%;
}

.wb-previewbutton {
    padding: 10px 20px;
    margin: 0 10px;
    margin: 0 10px;
    background-color: #6aff0752;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: not-allowed;
    display: flex;
    align-items: center;
}

.wb-publishbutton {
    padding: 10px 20px;
    margin: 0 10px;
    background-color: #007BFF;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    display: flex;
    align-items: center;
}

#previewsvg {
    fill: rgba(255, 255, 255, 0.791);
    width: 20px;
    height: 20px;
    margin-right: 7px;
}

#publishsvg {
    fill: rgba(255, 255, 255, 0.791);
    width: 20px;
    height: 20px;
    margin-left: 7px;
}

.wb-basicinfodiv {
    background-color: #e8e8e8;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    width: 95%;
    padding: 10px 10px;
    margin-top: 10px;
    border-radius: 10px;
    border: solid 1px #aaaaaa;
    font-family: 'Poppins', sans-serif;
    text-align: justify;
    box-sizing: border-box;
}

.note-h {
    width: 100%;
    text-align: center;
    font-size: .9rem;
    margin: 3px 0;
    font-style: oblique;
}

.note-mini-h {
    width: 100%;
    text-align: center;
    font-size: .8rem;
    margin: 3px 0;
}

.note-text {
    font-size: .7rem;
    margin: 5px 0;
}


.wb-filldetails {
    background-color: #e8e8e8;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    width: 95%;
    padding: 10px 10px;
    margin-top: 10px;
    border-radius: 10px;
    border: solid 1px #aaaaaa;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

.wb-filldetails>p {
    margin: 0;
}

#authordetail {
    width: 100%;
    height: 27px;
    font-size: 1rem;
    text-align: center;
    resize: none;
    overflow: auto;
    scrollbar-width: none;
    -ms-overflow-style: none;
    margin: 2px 0;
    border: solid 1px rgb(168, 167, 167);
    border-radius: 5px;
    outline: none;
}


#authordetail::-webkit-scrollbar {
    display: none;
}

.wb-filldetails>h4 {
    color: #383535;
    width: 100%;
    font-size: 1rem;
    font-weight: 400;
    text-align: center;
}

.wb-filldetails>p {
    width: 100%;
    color: #545353;
    font-size: .8rem;
    font-weight: 400;
    text-align: center;
    font-style: italic;
}

.savechangesvg {
    padding: 10px 20px;
    margin-top: 10px;
    background-color: #103252;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-self: center;
    align-self: center;
}


#writeblogtitle {
    width: 90%;
    padding: 10px;
    font-size: 1.5rem;
    margin-bottom: 20px;
    border: 1px solid #aca9a9;
    border-radius: 5px;
    outline: none;
}

#writeblogtitle::placeholder {
    color: rgb(134, 134, 134);
}

#wb-blog-intro {
    width: 90%;
    padding: 10px;
    font-size: 1.3rem;
    border: 1px solid #aca9a9;
    border-radius: 5px;
    outline: none;
    resize: none;
    margin-bottom: 20px;
    height: 100px;
}

#wb-blog-intro::placeholder {
    color: rgb(134, 134, 134);
}

#quillc {
    width: 90%;
    min-height: 400px;
}


.ql-container {
    min-height: 70vh;
    height: 100%;
}

.personaldetailbox {
    position: fixed;
    width: 100vw;
    height: 100vh;
    z-index: 100;
    backdrop-filter: blur(7px);
    background-color: #f7c53d42;
}

.personaldetail {
    padding: 20px 0px;
    max-width: 600px;
    height: max-content;
    max-height: 600px;
    border: solid 1px rgb(202, 199, 199);
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 200;

    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 5px;
    background-color: rgb(255, 255, 255);
    /* padding: 50px; */
    box-sizing: border-box;

    box-shadow: rgb(181, 181, 181) 0px 0px 20px 0px;
}

.personaldetail>h1 {
    margin: 0;
    margin-bottom: 20px;
    font-family: 'oswald', sans-serif;
    color: rgb(255, 143, 15);
}

.note {
    font-style: italic;
    text-align: justify;
    background-color: #fff64fb5;
    padding: 10px 15px;
    width: 80%;
    border: solid 1px rgba(128, 128, 128, 0.294);
    border-radius: 5px;
}

.namepurpose {
    width: 80%;
    margin: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'oswald', sans-serif;
}

input[name="fullname"]::placeholder {
    font-family: 'oswald', sans-serif;
    font-size: 1.1rem;
    color: rgba(0, 0, 0, 0.706);
    opacity: 1;
    /* Adjust opacity if needed */
}

.namepurpose>input {
    width: 500px;
    max-width: 500px;
    height: 40px;
    font-size: 1.6rem;
    padding: 0px 10px;
    border: solid 1px rgb(106, 104, 104);
    border-radius: 5px;
    outline: none;
    text-align: center;
}

.namepurpose>label {

    margin-top: 20px;
    color: rgba(0, 0, 0, 0.796);
}

#purpose {
    /* background-color: #943030; */
    outline: none;
    border: solid 1px rgb(106, 104, 104);
    border-radius: 5px;
    margin: 10px;
    resize: none;
    width: 500px;
    max-width: 500px;
    height: 200px;
    max-height: 200px;
    font-size: 1.2rem;
    padding: 10px;
}

.buttons {
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 10px;
    align-items: center;
}

.buttons>button {
    /* color: rgb(255, 143, 15); */
    cursor: pointer;
    width: 110px;
    font-size: 1.2rem;
    /* font-weight: bold; */
    padding: 5px;
    border: solid 1px rgb(0, 0, 0);

    border-radius: 50px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    background-color: rgba(123, 124, 125, 0.206);
}

#backarrow {
    width: 20px;
    transform: rotate(-90deg);
}

#enterarrow {
    width: 20px;
    transform: rotate(90deg);
}

.socialmedialinktext {
    margin-top: 20px;
}

#social {
    width: 500px;
    max-width: 500px;
    height: 40px;
    font-size: 1.1rem;
    color: #525151;
    padding: 0px 10px;
    border: solid 1px rgb(106, 104, 104);
    border-radius: 5px;
    outline: none;
    text-align: center;
    margin: 7px 0px;
    overflow: auto;
}

#social::placeholder {
    /* font-family: 'oswald', sans-serif; */
    font-size: .9rem;
    color: rgba(0, 0, 0, 0.706);
    opacity: 1;
    /* Adjust opacity if needed */
}

.wb-menu {
    position: absolute;
    top: 20px;
    right: 20px;
    /* left: 140px; */
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    border: none;
    outline: solid 1px grey;
    cursor: pointer;
    overflow: hidden;
    background-color: #ffffff00;
}

.wb-menu-inside {
    margin: 0 5px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 35px;
    height: 35px;
    border: none;
    /* outline: solid 1px grey; */
    cursor: pointer;
    overflow: hidden;
    background-color: #ffffff00;
}

.wb-menu-inside>svg {
    fill: rgb(220, 219, 219) !important;
}

#wb-menu-svg {
    width: 30px;
    height: 30px;
    fill: #000000;
}































/* responsive site */
@media (min-width:1440px) {
    .note-text {
        font-size: 1rem;
    }

    .wb-filldetails>p {
        font-size: .9rem;
        margin: 5px;
    }

    #authordetail {
        height: 35px;
    }
}

@media (min-width: 1280px) {

    .note-text {
        font-size: .8rem;
    }

    .wb-filldetails>p {
        font-size: .9rem;
        margin: 5px;
    }

    #authordetail {
        height: 27px;
    }

    .wb-menu-inside {
        display: none;
    }
}

@media (max-width: 1280px) {

    .wb-menu-inside {
        display: none;
    }
}

@media (min-width:1100px) {

    .writeblogrightside {
        display: flex !important;
        transition: 500;
        /* transform: translateX(100%); */
    }

    .writeblogleftside {
        width: 76%;
    }

    .wb-menu {
        display: none;
    }
}

@media (max-width: 1099px) {

    .wb-buttonsdiv {
        margin-top: 50px;
        justify-content: space-between;
    }

    .wb-menu-inside {
        position: absolute;
        top: 10px;
        right: 10px;
    }

    .wb-previewbutton,
    .wb-publishbutton {
        margin: 0 3px;
    }

    .writeblogleftside {
        width: 100%;
    }

    .wb-menu {
        display: flex;
    }

    .writeblogrightside {
        width: 45%;
        display: none;
        box-shadow: -20px 1px 20000px 2000px #00000080;
    }

    .wb-menu-inside {
        display: flex;
    }

}

@media (max-width: 800px) {

    .createblogh2 {
        font-size: 1.1rem;
        margin: 10px;
        font-family: 'Poppins';
        font-weight: 400;
    }

    #writeblogtitle {
        width: 90%;
        padding: 9px;
        font-size: 1.2rem;
        margin-bottom: 20px;
        border: 1px solid #aca9a9;
        border-radius: 5px;
        outline: none;
    }

    #writeblogtitle::placeholder {
        font-size: 1.1rem;
        color: rgb(134, 134, 134);
    }

    #wb-blog-intro {
        width: 90%;
        padding: 9px;
        font-size: 1.1rem;
        border: 1px solid #aca9a9;
        border-radius: 5px;
        outline: none;
        resize: none;
        margin-bottom: 20px;
        height: 100px;
    }

    #wb-blog-intro::placeholder {
        font-size: 1.1rem;
        color: rgb(134, 134, 134);
    }
    .writeblogrightside {
        width: 55%;
        display: none;
        box-shadow: -20px 1px 20000px 2000px #00000080;
    }
}

@media (max-width: 550px) {

    .createblogh2 {
        font-size: 1.1rem;
        margin: 10px;
        font-family: 'Poppins';
        font-weight: 400;
    }

    #writeblogtitle {
        width: 90%;
        padding: 8px;
        font-size: 1rem;
        margin-bottom: 20px;
        border: 1px solid #aca9a9;
        border-radius: 5px;
        outline: none;
    }

    #writeblogtitle::placeholder {
        font-size: 1rem;
        color: rgb(134, 134, 134);
    }

    #wb-blog-intro {
        width: 90%;
        padding: 8px;
        font-size: 1rem;
        border: 1px solid #aca9a9;
        border-radius: 5px;
        outline: none;
        resize: none;
        margin-bottom: 20px;
        height: 100px;
    }

    #wb-blog-intro::placeholder {
        font-size: 1rem;
        color: rgb(134, 134, 134);
    }

    .writeblogrightside {
        width: 65%;
        display: none;
        box-shadow: -20px 1px 2000px 2000px #00000080;
    }
}