@import url('https://fonts.googleapis.com/css2?family=Geist+Mono:wght@100..900&family=Oswald:wght@200..700&family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Funnel+Display:wght@300..800&family=Geist+Mono:wght@100..900&family=Oswald:wght@200..700&family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Funnel+Display:wght@300..800&family=Geist+Mono:wght@100..900&family=Host+Grotesk:ital,wght@0,300..800;1,300..800&family=Oswald:wght@200..700&family=Pacifico&display=swap');

/* Dark Theme (default) */
:root {
    --bg-color: #27282d;
    --text-color: #ffffff;
    --social-media-svg-color:rgb(196, 195, 195) ;
    --sender-detail:rgb(186, 184, 184);
    /* --button-bg: #06529d; */
}

/* Light Theme */
[data-theme="light"] {
    --bg-color: #ffffff;
    --text-color: #39393a;
    --social-media-svg-color:rgb(85, 82, 82) ;
    --sender-detail:rgb(72, 71, 71);
}
.readblog {
    padding: 100px 210px;

    background-color: var(--bg-color);
    color: var(--text-color);
    display: flex;
    flex-direction: column;
    font-family: "Host Grotesk", sans-serif;
    /* width: 100vw; */
    overflow: hidden;
    word-wrap: break-word;
    overflow-wrap: break-word;
}

.readblogcontainer {
    min-height: 100vh;
    height: auto;
    /* padding: 100px 210px; */
    background-color: var(--bg-color);
    color: var(--text-color);
    display: flex;
    flex-direction: column;
    /* font-family: "Geist Mono", monospace; */
    /* font-family: "Funnel Display", sans-serif; */
    font-family: "Host Grotesk", sans-serif;
    position: relative;
}

#blogtitle {
    font-size: 3rem;
    margin: 0;
}

.auther-detail-box{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

#blogdate {
    margin: 5px 0;
    color: var(--text-color);
    margin-right:10px;
}
#userPicture{
    width: 30px;
    height: 30px;
    overflow: hidden;
    border: solid 1px rgb(98, 96, 96);
    border-radius: 50%;
    margin-right: 5px;
}

#userPicture>img{
    width: 30px;
    height: 30px;
}

#authorfollowbtn{
    padding: 6px 30px;
    border: none;
    background: #014ca2;
    color: white;
    outline: none;
    border-radius: 100px;
    font-size: .9rem;
    cursor: pointer;
    width: 130px;
}
#authorfollowingbtn{
    padding: 6px 30px;
    border: solid 1px #a2a4a5;
    background: #4c4c4c;
    color: white;
    outline: none;
    border-radius: 100px;
    font-size: .9rem;
    cursor: pointer;
    width: 130px;
}

.loaderSpinner{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 130px;
    border: solid 1px #a2a4a5;
    background: #4c4c4c;
    border-radius: 100px;

    padding: 2.5px 0;
}

.loaderSpinner svg {
    width: 20px !important;
    height: 20px !important;
}
#authorsocialmedialogo{
    fill: var(--social-media-svg-color);
    width: 30px;
    height: 30px;
    margin: 0px 5px;
    cursor: pointer;
}

.author-socialmedia{
    display: flex;
    flex-direction: row;
}

#blogintroduction{
    margin-top: 20px;
    margin-bottom: 0px;
    font-size: 1.5rem;
    color: var(--text-color);
    line-height: 40px;
    text-align: justify;
    max-width: 100%;
    height: auto;
    object-fit: contain;
    box-sizing: border-box;
    overflow: hidden;
}

#blogcontent {
    margin-top: 0px;
    margin-bottom: 20px;
    font-size: 1.5rem;
    color: var(--text-color);
    line-height: 40px;
    text-align: justify;
    max-width: 100%;
    height: auto;
    object-fit: contain;
    box-sizing: border-box;
    overflow: hidden;
}

#blogcontent > p{
    margin-top: 15px;
}
#blogcontent img {
    width: 90%;
    display: flex;
    align-self: center;
    justify-self: center;
    height: auto;
    object-fit: contain;
    margin: 20px;
    border-radius: 20px;
  }
#blogcontent iframe {
    width: 95%;
    display: flex;
    align-self: center;
    justify-self: center;
    height: 200px;
    object-fit: contain;
    margin: 20px;
    border-radius: 20px;
  }
#blogcontent a {
    color: #fb8600;
    text-decoration: none;
  }

  #blogcontent h1, #blogcontent h2, #blogcontent h3, #blogcontent h4, #blogcontent h5, #blogcontent h6{
    margin: 0;
    margin: 10px 0;
    font-style:oblique;
    color: var(--text-color);
  }

.readbloglinebreak {
    width: 100%;
    border-top: solid 1px rgb(89, 89, 89);
    margin-top: 60px;
    background-color: var(--bg-color);
}

.rb-comments-others {
    margin: 20px 0;
    /* border: solid; */
    width: 100%;
}

.rb-comments {
    width: 100%;
    margin: 20px 0;
    height: auto;
    /* max-height: 1000px; */
    overflow: auto;
    scrollbar-width: none;
    -ms-overflow-style: none;
    /* padding:20px 20px; */
}

.rb-comments::-webkit-scrollbar {
    display: none;
}

.rb-comments-write {
    margin: 10px 0px;
    width: 100%;
    height: 80px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border: solid 1px rgb(116, 115, 115);
    border-radius: 10px;
    overflow: hidden;
}

#commentinput {
    width: 85%;
    height: 80px;
    border-radius: 10px 0px 0px 10px;
    overflow: hidden;
    border: none;
    outline: none;
    resize: none;
    padding: 0px 10px;
    padding-top: 7px;
    font-size: 1.1rem;
    background-color: rgba(120, 120, 120, 0.143);
    color: var(--text-color);
    overflow: auto;
    scrollbar-width: none;
    -ms-overflow-style: none;
}
#commentinput::placeholder{

    color: var(--sender-detail);
}
#commentinput::-webkit-scrollbar {
    display: none;
}

#commentsendbutton {
    width: 15%;
    border-radius: 0px 10px 10px 0px;
    overflow: hidden;
    border: none;
    border-left: solid 1px rgb(103, 102, 102);
    outline: none;
    height: 80px;
    padding: 5px 10px;
    background-color: rgba(120, 120, 120, 0.143);
    color: var(--sender-detail);
    font-size: 1.3rem;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

}

#commentsendbutton>svg{
    width: 28px;
    height: 28px;
    /* filter: invert(1); */
    fill: var(--sender-detail);
    margin:0 10px;
}

.commentbox {
    position: relative;
    border: solid 1px rgb(136, 134, 134);
    outline: none;
    border-radius: 0px 20px 20px 20px;
    width: fit-content;
    max-width: 80%;
    height: auto;
    padding: 10px 10px;
    margin-bottom: 25px;
    font-size: 1rem;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}

.senderPicture {
    width: 25px;
    min-width: 25px;
    max-width: 5%;
    height: 25px;
    min-height: 25px;
    border: solid 1px rgb(102, 100, 100);
    outline: none;
    margin-right: 8px;
    overflow: hidden;
    border-radius: 50%;
    box-sizing: border-box;
}

.senderDetail {
    display: flex;
    flex-direction: row;
    align-items: center;
}


#senderPicture {
    width: 25px;
    height: 25px;
}

.comment-and-senderdetail {
    display: flex;
    flex-direction: column;
    max-width: 95%;

}

.senderName {
    color: #fb8600;
}

.date-time {
    margin: 0 10px;
    font-size: .75rem;
    color: var(--sender-detail);
}

.commentMessage {
    /* margin:0 5px; */
    max-width: 100%;
    padding: 5px 0px;
    /* border: solid 1px; */
    height: auto;
    word-wrap: break-word;
    overflow-wrap: break-word;
    white-space: normal;
}

.reply-delete{
    display: flex;
    /* border: solid 1px wheat; */
    flex-direction: row;
    position: absolute;
    bottom: -10px;
    right: 10px;
    width: fit-content;
}

.rb-comment-reply{
    display: flex;
    /* border: solid 1px wheat; */
    flex-direction: row;
    position: absolute;
    bottom: -6px;
    right: 25px;
    width: fit-content;
    font-size: .8rem;
    color: var(--sender-detail);
    background: var(--bg-color);
    padding:0 5px;
    cursor: pointer;
}

#rb-comment-delete{
    fill: var(--sender-detail);
    display: flex;
    /* border: solid 1px wheat; */
    flex-direction: row;
    position: absolute;
    bottom: -7px;
    right: -10px;
    width: fit-content;
    width: 23px;
    height: 23px;
    background: var(--bg-color);
    border-radius: 10px;
    padding: 2px;
    cursor: pointer;
}




















@media (min-width: 1440px){
    .readblog{
        padding: 100px 200px;
    }
    #blogcontent iframe{
        width: 80%;
        height: 500px;
    }
}
@media (max-width: 1440px){
    .readblog{
        padding: 100px 150px;
    }
    #blogcontent iframe{
        width: 80%;
        height: 400px;
    }
}

@media (max-width: 1280px){
    .readblog{
        padding: 100px 80px;
    }
    #blogtitle{
        font-size: 2.4rem;
    }
    #blogdate{
        font-size: .9rem;
    }
    #userPicture{
        width: 30px;
        height: 30px;
        overflow: hidden;
        border: solid 1px rgb(98, 96, 96);
        border-radius: 50%;
        margin-right: 5px;
    }
    
    #userPicture>img{
        width: 30px;
        height: 30px;
    }

   

    #authorfollowbtn{
        padding: 6px 30px;
        border: none;
        background: #014ca2;
        color: white;
        outline: none;
        border-radius: 100px;
        font-size: .8rem;
        cursor: pointer;
        width: 120px;
    }
    #authorfollowingbtn{
        padding: 6px 30px;
        border: solid 1px #a2a4a5;
        background: #4c4c4c;
        color: white;
        outline: none;
        border-radius: 100px;
        font-size: .8rem;
        cursor: pointer;
        width: 120px;
    }
    
    .loaderSpinner{
        border: solid 1px #a2a4a5;
        background: #4c4c4c;
        border-radius: 100px;
        width: 120px;
    }

    #authorsocialmedialogo{
        width: 25px;
        height: 25px;
    }

    #blogintroduction{
        margin-top: 20px;
        margin-bottom: 0px;
        font-size: 1.3rem;
        line-height: 32px;
    }

    #blogcontent{
        font-size: 1.3rem;
        line-height: 32px;
    }
    #blogcontent iframe{
        width: 80%;
        height: 400px;
    }

    #blogcontent > p{
        margin-top: 10px;
    }

    #blogcontent > h1{
        font-size: 1.9rem;
    }
    #blogcontent > h2{
        font-size: 1.7rem;
    }
    #blogcontent > h3{
        font-size: 1.4rem;
    }

    .rb-comments-write {
        margin: 10px 0px;
        width: 100%;
        height: 60px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        border: solid 1px rgb(116, 115, 115);
        border-radius: 10px;
        overflow: hidden;
    }

    #commentinput {
        width: 85%;
        height: 60px;
        border-radius: 10px 0px 0px 10px;
        overflow: hidden;
        border: none;
        outline: none;
        resize: none;
        padding: 0px 10px;
        padding-top: 7px;
        font-size: 1rem;
        background-color: rgba(120, 120, 120, 0.143);
        color: var(--text-color);
        overflow: auto;
        scrollbar-width: none;
        -ms-overflow-style: none;
    }
    #commentinput::placeholder{
    
        color: var(--sender-detail);
    }
    #commentinput::-webkit-scrollbar {
        display: none;
    }
    
    #commentsendbutton {
        width: 15%;
        border-radius: 0px 10px 10px 0px;
        overflow: hidden;
        border: none;
        border-left: solid 1px rgb(103, 102, 102);
        outline: none;
        height: 60px;
        padding: 5px 0px;
        background-color: rgba(120, 120, 120, 0.143);
        color: var(--sender-detail);
        font-size: 1rem;
    
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    
    }
    
    #commentsendbutton>svg{
        width: 15px;
        height: 15px;
        /* filter: invert(1); */
        fill: var(--sender-detail);
        margin:0 5px;
    }

    .commentbox {
        position: relative;
        border: solid 1px rgb(136, 134, 134);
        outline: none;
        border-radius: 0px 20px 20px 20px;
        width: fit-content;
        max-width: 85%;
        height: auto;
        padding: 10px 10px;
        margin-bottom: 25px;
        font-size: 1rem;
        display: flex;
        flex-direction: row;
        align-items: flex-start;
    }
    
    .senderPicture {
        width: 24px !important;
        min-width: 24px !important;
        max-width: 24px !important;
        height: 24px !important;
        min-height: 24px !important;
        outline: solid 1px rgb(102, 100, 100);
        border:none;
        margin-right: 8px;
        overflow: hidden;
        border-radius: 50%;
        box-sizing: border-box;
    }
    
    .senderDetail {
        display: flex;
        flex-direction: row;
        align-items: center;
    }
    
    
    #senderPicture {
        width: 24px !important;
        height: 24px !important;
    }
    
    .comment-and-senderdetail {
        display: flex;
        flex-direction: column;
        max-width: 95%;
    
    }
    
    .senderName {
        color: #fb8600;
        font-size: .9rem;
    }
    
    .date-time {
        margin: 0 10px;
        font-size: .8rem;
        color: var(--sender-detail);
    }
    
    .commentMessage {
        /* margin:0 5px; */
        max-width: 100%;
        padding: 5px 0px;
        /* border: solid 1px; */
        height: auto;
        word-wrap: break-word;
        overflow-wrap: break-word;
        white-space: normal;
        font-size: 1rem;
    }
    
    .reply-delete{
        display: flex;
        /* border: solid 1px wheat; */
        flex-direction: row;
        position: absolute;
        bottom: -10px;
        right: 10px;
        width: fit-content;
    }
    
    .rb-comment-reply{
        display: flex;
        /* border: solid 1px wheat; */
        flex-direction: row;
        position: absolute;
        bottom: -6px;
        right: 25px;
        width: fit-content;
        font-size: .8rem;
        color: var(--sender-detail);
        background: var(--bg-color);
        padding:0 5px;
        cursor: pointer;
    }
    
    #rb-comment-delete{
        fill: var(--sender-detail);
        display: flex;
        /* border: solid 1px wheat; */
        flex-direction: row;
        position: absolute;
        bottom: -7px;
        right: -10px;
        width: fit-content;
        width: 24px;
        height: 24px;
        background: var(--bg-color);
        border-radius: 10px;
        padding: 2px;
        cursor: pointer;
    }
    
}














@media (min-width: 801px){
    .auther-detail-box{
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }
}



@media (max-width: 800px){
    .readblog{
        padding: 100px 20px;
    }
    #blogtitle{
        font-size: 2rem;
    }
    #blogdate{
        font-size: .9rem;
    }
    #userPicture{
        width: 25px;
        height: 25px;
        overflow: hidden;
        border: solid 1px rgb(98, 96, 96);
        border-radius: 50%;
        margin-right: 5px;
    }
    
    #userPicture>img{
        width: 25px;
        height: 25px;
    }

    #authorfollowbtn{
        padding: 6px 30px;
        border: none;
        background: #014ca2;
        color: white;
        outline: none;
        border-radius: 100px;
        font-size: .8rem;
        cursor: pointer;
        width: 120px;
    }
    #authorfollowingbtn{
        padding: 6px 30px;
        border: solid 1px #a2a4a5;
        background: #4c4c4c;
        color: white;
        outline: none;
        border-radius: 100px;
        font-size: .8rem;
        cursor: pointer;
        width: 120px;
    }
    
    .loaderSpinner{
        border: solid 1px #a2a4a5;
        background: #4c4c4c;
        border-radius: 100px;
        width: 120px;
    }

    #authorsocialmedialogo{
        width: 25px;
        height: 25px;
    }

    #blogintroduction{
        margin-top: 20px;
        margin-bottom: 0px;
        font-size: 1.3rem;
        line-height: 32px;
    }

    #blogcontent{
        font-size: 1.3rem;
        line-height: 32px;
    }
    #blogcontent iframe{
        width: 80%;
        height: 300px;
    }

    #blogcontent > p{
        margin-top: 10px;
    }

    #blogcontent > h1{
        font-size: 1.9rem;
    }
    #blogcontent > h2{
        font-size: 1.7rem;
    }
    #blogcontent > h3{
        font-size: 1.4rem;
    }

    .rb-comments-write {
        margin: 10px 0px;
        width: 100%;
        height: 60px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        border: solid 1px rgb(116, 115, 115);
        border-radius: 10px;
        overflow: hidden;
    }

    #commentinput {
        width: 80%;
        height: 60px;
        border-radius: 10px 0px 0px 10px;
        overflow: hidden;
        border: none;
        outline: none;
        resize: none;
        padding: 0px 10px;
        padding-top: 7px;
        font-size: 1rem;
        background-color: rgba(120, 120, 120, 0.143);
        color: var(--text-color);
        overflow: auto;
        scrollbar-width: none;
        -ms-overflow-style: none;
    }
    #commentinput::placeholder{
    
        color: var(--sender-detail);
    }
    #commentinput::-webkit-scrollbar {
        display: none;
    }
    
    #commentsendbutton {
        width: 20%;
        border-radius: 0px 10px 10px 0px;
        overflow: hidden;
        border: none;
        border-left: solid 1px rgb(103, 102, 102);
        outline: none;
        height: 60px;
        padding: 5px 0px;
        background-color: rgba(120, 120, 120, 0.143);
        color: var(--sender-detail);
        font-size: .8rem;
    
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    
    }
    
    #commentsendbutton>svg{
        width: 15px;
        height: 15px;
        /* filter: invert(1); */
        fill: var(--sender-detail);
        margin:0 5px;
    }

    .commentbox {
        position: relative;
        border: solid 1px rgb(136, 134, 134);
        outline: none;
        border-radius: 0px 20px 20px 20px;
        width: fit-content;
        max-width: 85%;
        height: auto;
        padding: 10px 10px;
        margin-bottom: 25px;
        font-size: 1rem;
        display: flex;
        flex-direction: row;
        align-items: flex-start;
    }
    
    .senderPicture {
        width: 24px !important;
        min-width: 24px !important;
        max-width: 24px !important;
        height: 24px !important;
        min-height: 24px !important;
        outline: solid 1px rgb(102, 100, 100);
        border:none;
        margin-right: 8px;
        overflow: hidden;
        border-radius: 50%;
        box-sizing: border-box;
    }
    
    .senderDetail {
        display: flex;
        flex-direction: row;
        align-items: center;
    }
    
    
    #senderPicture {
        width: 24px !important;
        height: 24px !important;
    }
    
    .comment-and-senderdetail {
        display: flex;
        flex-direction: column;
        max-width: 95%;
    
    }
    
    .senderName {
        color: #fb8600;
        font-size: .8rem;
    }
    
    .date-time {
        margin: 0 10px;
        font-size: .7rem;
        color: var(--sender-detail);
    }
    
    .commentMessage {
        /* margin:0 5px; */
        max-width: 100%;
        padding: 5px 0px;
        /* border: solid 1px; */
        height: auto;
        word-wrap: break-word;
        overflow-wrap: break-word;
        white-space: normal;
        font-size: 1rem;
    }
    
    .reply-delete{
        display: flex;
        /* border: solid 1px wheat; */
        flex-direction: row;
        position: absolute;
        bottom: -10px;
        right: 10px;
        width: fit-content;
    }
    
    .rb-comment-reply{
        display: flex;
        /* border: solid 1px wheat; */
        flex-direction: row;
        position: absolute;
        bottom: -6px;
        right: 25px;
        width: fit-content;
        font-size: .8rem;
        color: var(--sender-detail);
        background: var(--bg-color);
        padding:0 5px;
        cursor: pointer;
    }
    
    #rb-comment-delete{
        fill: var(--sender-detail);
        display: flex;
        /* border: solid 1px wheat; */
        flex-direction: row;
        position: absolute;
        bottom: -7px;
        right: -10px;
        width: fit-content;
        width: 24px;
        height: 24px;
        background: var(--bg-color);
        border-radius: 10px;
        padding: 2px;
        cursor: pointer;
    }
    
}


@media (max-width: 440px){
    .readblog{
        padding: 100px 20px;
    }
    #blogtitle{
        font-size: 1.7rem;
    }
    #blogdate{
        font-size: .7rem;
    }
    #userPicture{
        width: 20px;
        height: 20px;
        overflow: hidden;
        border: solid 1px rgb(98, 96, 96);
        border-radius: 50%;
        margin-right: 5px;
    }
    
    #userPicture>img{
        width: 20px;
        height: 20px;
    }

    #authorfollowbtn{
        padding: 6px 30px;
        border: none;
        background: #014ca2;
        color: white;
        outline: none;
        border-radius: 100px;
        font-size: .8rem;
        cursor: pointer;
        width: 120px;
    }
    #authorfollowingbtn{
        padding: 6px 30px;
        border: solid 1px #a2a4a5;
        background: #4c4c4c;
        color: white;
        outline: none;
        border-radius: 100px;
        font-size: .8rem;
        cursor: pointer;
        width: 120px;
    }
    
    .loaderSpinner{
        border: solid 1px #a2a4a5;
        background: #4c4c4c;
        border-radius: 100px;
        width: 120px;
    }

    #authorsocialmedialogo{
        width: 25px;
        height: 25px;
    }

    #blogintroduction{
        margin-top: 20px;
        margin-bottom: 0px;
        font-size: 1.3rem;
        line-height: 32px;
    }

    #blogcontent{
        font-size: 1.3rem;
        line-height: 32px;
    }
    #blogcontent iframe{
        width: 90%;
        height: 200px;
    }

    #blogcontent > p{
        margin-top: 10px;
    }

    #blogcontent > h1{
        font-size: 1.7rem;
    }
    #blogcontent > h2{
        font-size: 1.6rem;
    }
    #blogcontent > h3{
        font-size: 1.4rem;
    }

    .rb-comments-write {
        margin: 10px 0px;
        width: 100%;
        height: 60px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        border: solid 1px rgb(116, 115, 115);
        border-radius: 10px;
        overflow: hidden;
    }

    #commentinput {
        width: 80%;
        height: 60px;
        border-radius: 10px 0px 0px 10px;
        overflow: hidden;
        border: none;
        outline: none;
        resize: none;
        padding: 0px 10px;
        padding-top: 7px;
        font-size: 1rem;
        background-color: rgba(120, 120, 120, 0.143);
        color: var(--text-color);
        overflow: auto;
        scrollbar-width: none;
        -ms-overflow-style: none;
    }
    #commentinput::placeholder{
    
        color: var(--sender-detail);
    }
    #commentinput::-webkit-scrollbar {
        display: none;
    }
    
    #commentsendbutton {
        width: 20%;
        border-radius: 0px 10px 10px 0px;
        overflow: hidden;
        border: none;
        border-left: solid 1px rgb(103, 102, 102);
        outline: none;
        height: 60px;
        padding: 5px 0px;
        background-color: rgba(120, 120, 120, 0.143);
        color: var(--sender-detail);
        font-size: .8rem;
    
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    
    }
    
    #commentsendbutton>svg{
        width: 15px;
        height: 15px;
        /* filter: invert(1); */
        fill: var(--sender-detail);
        margin:0 5px;
    }

    .commentbox {
        position: relative;
        border: solid 1px rgb(136, 134, 134);
        outline: none;
        border-radius: 0px 20px 20px 20px;
        width: fit-content;
        max-width: 85%;
        height: auto;
        padding: 10px 10px;
        margin-bottom: 25px;
        font-size: 1rem;
        display: flex;
        flex-direction: row;
        align-items: flex-start;
    }
    
    .senderPicture {
        width: 20px !important;
        min-width: 20px !important;
        max-width: 20px !important;
        height: 20px !important;
        min-height: 20px !important;
        outline: solid 1px rgb(102, 100, 100);
        border:none;
        margin-right: 8px;
        overflow: hidden;
        border-radius: 50%;
        box-sizing: border-box;
    }
    
    .senderDetail {
        display: flex;
        flex-direction: row;
        align-items: center;
    }
    
    
    #senderPicture {
        width: 20px !important;
        height: 20px !important;
    }
    
    .comment-and-senderdetail {
        display: flex;
        flex-direction: column;
        max-width: 95%;
    
    }
    
    .senderName {
        color: #fb8600;
        font-size: .7rem;
    }
    
    .date-time {
        margin: 0 10px;
        font-size: .6rem;
        color: var(--sender-detail);
    }
    
    .commentMessage {
        /* margin:0 5px; */
        max-width: 100%;
        padding: 5px 0px;
        /* border: solid 1px; */
        height: auto;
        word-wrap: break-word;
        overflow-wrap: break-word;
        white-space: normal;
        font-size: .9rem;
    }
    
    .reply-delete{
        display: flex;
        /* border: solid 1px wheat; */
        flex-direction: row;
        position: absolute;
        bottom: -10px;
        right: 10px;
        width: fit-content;
    }
    
    .rb-comment-reply{
        display: flex;
        /* border: solid 1px wheat; */
        flex-direction: row;
        position: absolute;
        bottom: -6px;
        right: 25px;
        width: fit-content;
        font-size: .8rem;
        color: var(--sender-detail);
        background: var(--bg-color);
        padding:0 5px;
        cursor: pointer;
    }
    
    #rb-comment-delete{
        fill: var(--sender-detail);
        display: flex;
        /* border: solid 1px wheat; */
        flex-direction: row;
        position: absolute;
        bottom: -7px;
        right: -10px;
        width: fit-content;
        width: 20px;
        height: 20px;
        background: var(--bg-color);
        border-radius: 10px;
        padding: 2px;
        cursor: pointer;
    }
    
}