@import url('https://fonts.googleapis.com/css2?family=Geist+Mono:wght@100..900&family=Oswald:wght@200..700&family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Funnel+Display:wght@300..800&family=Geist+Mono:wght@100..900&family=Oswald:wght@200..700&family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Funnel+Display:wght@300..800&family=Geist+Mono:wght@100..900&family=Host+Grotesk:ital,wght@0,300..800;1,300..800&family=Oswald:wght@200..700&family=Pacifico&display=swap');

.readblog{
    padding: 0px 210px;
    margin: 100px 0;
    background-color: rgb(39, 40, 45);
    color: white;
    display: flex;
    flex-direction: column;
    /* font-family: "Geist Mono", monospace; */
    /* font-family: "Funnel Display", sans-serif; */
    font-family: "Host Grotesk", sans-serif;
}

.readblogcontainer{
    min-height: 100vh;
    height: auto;
    /* padding: 100px 210px; */
    background-color: rgb(39, 40, 45);
    color: white;
    display: flex;
    flex-direction: column;
    /* font-family: "Geist Mono", monospace; */
    /* font-family: "Funnel Display", sans-serif; */
    font-family: "Host Grotesk", sans-serif;
    position: relative;
}

#blogtitle{
    font-size: 3rem;
    margin: 0;
}

#blogdate{
    margin: 5px 0;
    color: rgb(185, 178, 178);
}

#blogcontent{
    margin: 20px 0;
    font-size: 1.5rem;
    color: aliceblue;
    line-height: 30px;
}

.readbloglinebreak{
    width: 100%;
    border-top: solid 1px rgb(89, 89, 89);
    margin-top:60px;
    background-color: #fff;
}

.rb-comments-others{
    margin: 20px 0;
    border: solid;
}

.rb-comments{
    margin: 20px 0;
    height: auto;
    max-height: 1000px;
    overflow: auto;
    scrollbar-width: none;
    -ms-overflow-style: none;
}

.rb-comments::-webkit-scrollbar {
display: none;
}