
.ud-rightside-body-blogs {
    color: rgb(43, 42, 42);
    /* border: solid; */
    position: fixed;
    top: 0;
    right: 0;
    width: 80%;
    overflow: scroll;
    scrollbar-width: none;
    -ms-overflow-style: none;
    height: auto;
}

.ud-rightside-bodys::-webkit-scrollbar {
    display: none;
}