/* Dark Theme (default) */
:root {
    --bg-color: #27282d;
    --text-color: #ffffff;
    --logo-color: #003768;
    --border-color: rgb(110, 110, 110);
    --hover-color: #ffffff;
    --blogpost-bg-color:#21212122;
    /* --button-bg: #06529d; */
}

/* Light Theme */
[data-theme="light"] {
    --bg-color: #ffffff;
    --nav-bg-color: #ffffff;
    --logo-color: #003768;
    --text-color: #39393a;
    --border-color: rgb(110, 110, 110);
    --hover-color: #003768;
    --blogpost-bg-color:#f0f0f073;
    /* --button-bg: #1e88e5; */
}

.blog-posts {
    background-color: var(--bg-color);
    color:var(--text-color);
    /* padding: 20px 60px; */
    min-height: 30vh; 
    width: 100%;
}

.blog-post {
    padding: 22px 0;
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-self: center;
    /* align-self: center; */
    background: var(--bg-color);
    width: 75%;
}

.blog-post2 {
    color:var(--text-color);
    background-color: var(--blogpost-bg-color);
    padding: 10px 20px;
    outline: solid 1px var(--border-color);
    border-radius: 15px;
    height: auto;
    display: flex;
    flex-direction: column;
    /* width: 50%; */
}

.blog-post2:hover{
    outline: solid 1.6px var(--hover-color);
    box-shadow: inset 0px 0px 0px 0px var(--hover-color);
}
.blog-post2:active{
    outline: solid 1.6px var(--hover-color);
    box-shadow: inset 0px 0px 0px 0px var(--hover-color);
}

.bp-textpart{
    word-wrap: break-word;
    overflow-wrap: break-word;
}

#blog-title {
    color: var(--text-color);
    margin: 0;
    margin-top: 20px;
    font-size: 2rem;
    font-weight: bold;
    text-decoration: none;
    text-underline-offset: 6px;
    transition: .2s;
}

#blog-title:hover {
    transition: .3s;
    text-decoration: underline 1.5px;
}
#blog-title:active {
    transition: .3s;
    text-decoration: underline 1.5px;
}

#blog-date {
    margin-right: 10px;
    /* margin-top: 10px; */
    font-size: .9rem;
    color: var(--text-color);
}


#blog-description {
    margin: 0;
    margin-top: 10px;
    margin-bottom: 20px;
    font-size: 1.1rem;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 4;
    overflow: hidden;
    line-height: 1.1;
    /* height: calc(1.5em * 3); */
    text-overflow: ellipsis;
}

.bp-description-p{
    margin: 0;
}

.bp-description-p > h4{
    margin: 3px 0;
}
.bp-description-p > h3{
    margin: 3px 0;
}
.bp-description-p > h2{
    margin: 5px 0;
}
.bp-description-p > h1{
    margin: 5px 0;
}
.bp-description-p > p{
    margin: 3px 0;
}

#blog-readmore {
    text-decoration: none;
    color: var(--logo-color);
    display: block;
    margin-bottom: 15px;
    text-underline-offset: 2px;
    transition: .2s;
}

#blog-readmore:hover {
    transition: .3s;
    text-decoration: underline 1px;
}

#blogposts-userPicture {
    height: 25px;
    width: 25px;
    overflow: hidden;
    border-radius: 50%;
    margin-right: 7px;
}

#blogposts-userPicture>img {
    height: 25px;
    width: 25px;
}

.blog-posts-authordetail {
    margin-top: 5px;
    margin-bottom: 0px;
    display: flex;
    flex-direction: row;
    align-items: center;
    /* gap: 10px; */
    justify-content: flex-start;
}



@media (max-width: 1200px){
    .blog-post{
        width: 80%; 
    }
    #blog-title{
        font-size: 1.5rem;
        margin-top: 10px;
        font-weight: bold;
    }
    #blog-date {
        margin-right: 10px;
        /* margin-top: 10px; */
        font-size: .8rem;
   
    }
    #blog-description {
        margin: 0;
        margin-bottom: 10px;
        font-size: 1rem;
    }
    #blog-readmore{
        font-size: .9rem;
        margin-bottom: 5px;
    }

    #blogposts-userPicture {
        height: 22px;
        width: 22px;
        overflow: hidden;
        border-radius: 50%;
        margin-right: 5px;
    }
    
    #blogposts-userPicture>img {
        height: 22px;
        width: 22px;
    }
    
    .blog-posts-authordetail {
        margin-top: 3px;
    }
}


@media (max-width: 800px){
    .blog-post{
        width: 85%; 
    }
    #blog-title{
        font-size: 1.2rem;
        margin-top: 10px;
        font-weight: bold;
    }
    #blog-date {
        margin-right: 10px;
        /* margin-top: 10px; */
        font-size: .7rem;
   
    }
    #blog-description {
        margin: 0;
        margin-bottom: 10px;
        font-size: .9rem;
    }
    #blog-readmore{
        font-size: .8rem;
        margin-bottom: 5px;
    }

    #blogposts-userPicture {
        height: 20px;
        width: 20px;
        overflow: hidden;
        border-radius: 50%;
        margin-right: 5px;
    }
    
    #blogposts-userPicture>img {
        height: 20px;
        width: 20px;
    }
    
    .blog-posts-authordetail {
        margin-top: 3px;
    }
}


@media (max-width: 440px){
    .blog-post{
        width: 90%; 
    }
    #blog-title{
        font-size: 1rem;
        margin-top: 10px;
        font-weight: normal;
    }
    #blog-date {
        margin-right: 10px;
        /* margin-top: 10px; */
        font-size: .7rem;
   
    }
    #blog-description {
        margin: 0;
        margin-bottom: 10px;
        font-size: .75rem;
    }
    #blog-readmore{
        font-size: .7rem;
        margin-bottom: 5px;
    }

    #blogposts-userPicture {
        height: 20px;
        width: 20px;
        overflow: hidden;
        border-radius: 50%;
        margin-right: 5px;
    }
    
    #blogposts-userPicture>img {
        height: 20px;
        width: 20px;
    }
    
    .blog-posts-authordetail {
        margin-top: 3px;
    }
}